
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 
        {% block title %} {%endblock%}|Sitio con django
    </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
</head>

<body>
    <!--Cbacera-->
    <header>
        <div id="logotipo">
            <!--logo django-->
            <img src="{% static 'images/logo.png' %}">
            <h1>Proyecto con django</h1>
        </div>

    </header>
    <nav>
        <ul>
            <li>
                <a href="{% url 'index' %}">Inicio</a>
            </li>

            {% if user.email %}
                <li>
                    <a href="{% url 'list_articles' %}">Categorias</a>
                    <ul>
                        {% for category in categories %}
                            <li>
                                <a href="{% url 'category' category.0 %}">{{category.1}}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                {% for page in pages %}
                    <li>
                        <a href="{% url 'page' page.2 %}">{{page.1}}</a>
                    </li>
                {% endfor %}
                <li>
                    <a href="{% url 'logout' %}">Cerrar Sesion</a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'registro' %}">Registro</a>
                </li>
                <li>
                    <a href="{% url 'login' %}">Login</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    <div class="barra">
        <span class="esquina-izquierda"></span>
        <span class="relleno-barra"></span>
        <span class="esquina-derecha"></span>
    </div>
    <div id="content">
        <div class="box">
            {% block content %}
                <strong>Contenido del padre</strong>
            {% endblock %}
        </div>
    </div>
    
    <hr>
    <footer>
        Blog con  django - {% now "d/m/Y h:m:s" %}
    </footer>
</body>

</html>